<!--<div class="products-grid">-->
<!--  <div class="product" *ngFor="let vino of vini">-->
<!--    <img src='/assets/pecorino.jpg' alt="{{ vino.nome }}">-->
<!--    <h3>{{ vino.nome }}</h3>-->
<!--    <app-dettagli-list [prezzo]="vino.prezzo"></app-dettagli-list>-->
<!--  </div>-->
<!--</div>-->
<div class="products-grid">
  <div *ngFor="let vino of vini" class="product">
    <img src='/assets/pecorino.jpg' alt="{{ vino.nome }}">
    <div class="titolo"><h3>{{ vino.nome }}</h3></div>
    <app-dettagli-list [prezzo]="vino.prezzo"></app-dettagli-list>
  </div>
</div>
