.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Massimo 4 quadrati per riga */
  gap: 24px; /* Spaziatura tra i quadrati maggiore per aria */
  padding: 24px; /* Margine interno */
  /*background-color: #f7f3e9; !* Sfondo tenue ispirato al vino *!*/
  border-radius: 15px;
}

.product {
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo bianco traslucido */
  border-radius: 15px; /* Angoli più arrotondati */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombra più visibile per profondità */
  text-align: center;
  display: flex;
  flex-direction: column; /* Disposizione verticale degli elementi */
  align-items: center;
  justify-content: space-between; /* Spaziatura uniforme */
  padding: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animazioni per hover */
}
.titolo {
  height: 3rem; /* Altezza fissa per mantenere consistenza tra i prodotti */
  display: flex;
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: center; /* Centra orizzontalmente il testo */
  text-align: center; /* Centra il testo se va su più righe */
  overflow: hidden; /* Nasconde qualsiasi contenuto fuori dai bordi */
}

.titolo h3 {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.2rem; /* Spaziatura tra le righe */
  color: #4a2c2a;
  word-wrap: break-word; /* Permette di andare a capo se necessario */
}


app-dettagli-list {
  margin-top: auto; /* Spinge il componente verso il basso */
}
.product:hover {
  transform: translateY(-5px); /* Effetto sollevamento */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Ombra più intensa su hover */
}

.product img {
  width: 80%; /* Immagine più grande e centrale */
  height: auto;
  border-radius: 10px;
  margin: 16px auto 8px;
}

.product h3 {
  font-size: 1.5rem; /* Testo più grande */
  margin: 10px 0;
  color: #4a2c2a; /* Marrone caldo ispirato al vino */
  font-family: 'Georgia', serif; /* Font elegante */
}

.product p {
  font-size: 1.3rem;
  color: #800020; /* Rosso Bordeaux */
  font-weight: bold;
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }

  .product {
    width: calc(40vw);
    max-width: 200px;
    margin: 5px;
  }
}
